@media screen and (min-width: 1000px){
    html {
        font-size: 20px;
    }

    .base {
        min-height: 100vh;
        min-height: 100dvh;
    }

    .nav-container{
        width: 5vw;
        right: -15vw;
    }

    .header-container {
        flex-direction: row !important;
    }

    header img {
        padding: 2vh 0 0;
    }

    .header-container .img {
        min-width: 40vw;
    }

    .top-container h5 {
        text-align: center;
    }

    .top-container .wrapper {
        margin-bottom: 5vh;
    }

} 